<settings>
	<is_clock>false</is_clock>
	<movie_path>/Users/bill/Desktop/whistle.mov</movie_path>
    <listen_port>9003</listen_port>
	<local_dimensions>
		<width>400</width>
		<height>400</height>
	</local_dimensions>
	<local_location>
		<x>800</x>
		<y>0</y>
	</local_location>
	<master_dimensions>
		<width>1200</width>
		<height>400</height>
	</master_dimensions>
	<go_fullscreen>false</go_fullscreen>
  <offset_window>true</offset_window>
</settings>
